/*Jumbotron*/
.jumbotron {
    background-color: #e9ecef;
}
.lead {
    width: 90%;
}

/*Card*/
.card {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.card-text {
    margin-bottom: 3rem;
}


@media (min-width: 576px) {

    .card:not(:last-child) {
        margin-left: 0;
        margin-right: 1.5rem;
    }

}